body{
    font-family: $roboto;
    transition: 0.5s linear;
}

.dark{
    background-color: $black;
    color: $white;
    transition: 0.5s linear;
    .line{
        background-color: $white;
    }
    .img-round{
        border: 1px solid $white;
    }
    textarea,
    input[type=text],
    input[type=email]{
        background-color: $black;
        color: $white;
        border: 1px solid $white;
    }
    a{
        color:$white;
        &:visited{
            color: $white;
        }
    }
}

.row{
    margin: 6rem 0;
}

a{
    text-decoration: none;
    color: $black;
    text-transform: $upper;
    padding: 1rem 2rem;
    &:visited{
        color: $black;
    }
}

.line{
    height: 1px;
    width: 100%;
    background-color: $black;
    margin-bottom: 5rem;
    margin-top: 10rem;
}