.btn{
    padding: 1rem 2rem !important;
    background-color: $red !important;
    color: $white !important;
    border-radius: 0.5rem !important;
    border: none !important;
    font-size: 12px !important;
    text-transform: $upper !important;
    transition: 0.5s linear !important;
}

.btn:focus{
    outline: 0;
}

.btn:hover{
    background-color: $orange !important;
    transition: 0.5s linear !important;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2) !important;
}

.dark-btn{
    background-color: $blue !important;
}

.dark-btn:hover{
    background-color: $lightblue !important;
}